body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 0.8em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.year-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.8em;
}

.year-button:hover {
    background-color: #555;
}

.go-back-button {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #555;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 20px;
}

.go-back-button:hover {
    background-color: #777;
}