/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Maintain full viewport height */
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.year-button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-size: 0.8em;
    transition: background-color 0.3s;
}

.year-button:hover {
    background-color: #555;
}

/* Media Query for Small Screens */
@media (max-width: 1023px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .year-button {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    table {
        width: 100%; /* Allow the table to expand to full width */
    }

    table th, table td {
        padding: 10px;
        text-align: center;
        border: 1px solid white;
        font-size: 0.9em;
        white-space: normal; /* Reset white-space for small screens */
        min-width: 100px; /* Minimum width for columns */
    }
}
